$white-color:#ffffff;

.header{
    height: 100vh;
    background-image: linear-gradient(to right,#14eb31b2,#51e60c7e),url("../../assets/hero-small.jpg");
    background-size: cover;
    background-position:  top;
    clip-path: polygon(0 0,100% 0%,100% 75vh,0 100%);
    &__logo-box{
        position: absolute;
        /* top: 10px; */
        top: 1rem;
        left:1rem;
    }
    &__logo{
        height: 3.5rem;
    }
    &__main-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
}



.text-box{
    color: $white-color;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 5rem;
    &__heading{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-in;
    }
    &__sub-heading{
        display: block;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 1.7rem;
        animation: moveInRight 1s ease-in ;
    }
}
.btn{
    text-transform: uppercase;
    background-color: $white-color;
    color: gray;
    padding: 1.5rem 4rem;
    display: inline-block;
    border: none;
    border-radius: 10rem;
    transition: all .2s;
    outline: none;
    &__animation{
        animation: moveInBottom 1s linear .75s;
        animation-fill-mode: backwards;
    }
    &:hover{
        transform: translateY(-.2rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    }
}


/* animations part */

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
   
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}