
.first-header{
    height: 95vh;
    background-image: linear-gradient(to right,#14eb31b2,#51e60c7e),url("../../assets/hero-small.jpg");
    background-size: cover;
    background-position:  top;
    clip-path: polygon(0 0,100% 0%,100% 75vh,0 100%);

}
.logo-box{
    position: absolute;
    top: 10px;
    left: 10px;
}
.logo{
    height: 35px;
}